body {
    padding: 50px;
}

.error {
    border-bottom: solid 1px #c3291c!important;
}

.error-msg {
    color: #c3291c;
    padding: 10px 0;
}

.error-msg-hide {
    display: none;
}

input {
    padding: 0;
}

h6 {
    margin: 0!important;
}