<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Extension Configuration</title>
    <link rel="stylesheet" href="configuration.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <h4>Google Account IDs</h4>
        <div>
            <h6>Enter your Google account IDs below, separated by a comma(,).</h6>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="conversionIds" placeholder="e.g. AW-123456789, GA-123456789">
            </div>
        </div>
        <label id="checkbox" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="datalayerCheckbox">
            <input type="checkbox" id="dataLayerCheckbox" class="data-layer-checkbox mdl-checkbox__input">
            <span class="mdl-checkbox__label">Provide custom dataLayer name</span>
        </label>
        <div id="dataLayerInputWrapper" hidden>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="dataLayerInput" placeholder="Enter a new name">
            </div>
        </div>
        <div class="error-msg"></div>
    </div>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
        var conversionIdsInput = document.querySelector('#conversionIds');
        var dataLayerInput = document.querySelector('#dataLayerInput');
        var errorMsg = document.querySelector('.error-msg');

        var dataLayerCheckboxLabel = document.querySelector('#checkbox');
        var dataLayerCheckbox = document.querySelector('#dataLayerCheckbox');
        var dataLayerInputWrapper = document.querySelector('#dataLayerInputWrapper');


        dataLayerCheckboxLabel.addEventListener("click", () => {
            if (dataLayerCheckbox.checked) {
                dataLayerCheckboxLabel.MaterialCheckbox.uncheck();
                dataLayerInputWrapper.setAttribute('hidden', 'true');
            } else {
                dataLayerCheckboxLabel.MaterialCheckbox.check();
                dataLayerInputWrapper.removeAttribute('hidden');
            }
        });

        window.extensionBridge.register({
            init: function (info) {
                if (info.settings) {
                    conversionIdsInput.value = info.settings.conversionIdList.join(', ');
                    dataLayerInput.value = info.settings.dataLayerName || '';
                    if (info.settings.dataLayerName) {
                        dataLayerCheckboxLabel.MaterialCheckbox.check();
                        dataLayerInputWrapper.removeAttribute('hidden');
                    } else {
                        dataLayerCheckboxLabel.MaterialCheckbox.uncheck();
                        dataLayerInputWrapper.setAttribute('hidden', 'true');
                    }
                }
            },

            getSettings: function () {
                var getSettingsObject = {
                    conversionIdList: conversionIdsInput.value.split(',').map(id => id.trim())
                };

                if (dataLayerCheckbox.checked) {
                    getSettingsObject.dataLayerName = dataLayerInput.value.replace(/\s+/g, '');
                } else {
                    dataLayerInput.value = '';
                    delete getSettingsObject.dataLayerName;
                }

                return getSettingsObject;
            },

            validate: function () {
                var valid = true;
                var checkboxChecked = dataLayerCheckbox.checked;
                var conversionIds = conversionIdsInput.value.trim();
                var dataLayerInputValue = dataLayerInput.value;
                var errorMessage = 'Please fill out the missing fields';

                var toggleErrorStyle = ((element, valid) => {
                    return element.classList.toggle('error', valid);
                });

                if (!conversionIds) {
                    valid = false;
                    toggleErrorStyle(conversionIdsInput, true);
                } else {
                    toggleErrorStyle(conversionIdsInput, false);
                }

                if (checkboxChecked && !dataLayerInputValue) {
                    valid = false;
                    toggleErrorStyle(dataLayerInput, true);
                } else {
                    toggleErrorStyle(dataLayerInput, false);
                }

                errorMsg.innerHTML = valid ? '' : errorMessage;

                return valid;
            }
        });
    </script>
</body>

</html>